<template>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-md-8">
                <div class="card">
                    <div class="card-header">Example Component</div>

                    <div class="card-body">
                        I'm an example component. And my name is {{ name }}
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name:'Example',
        data: function(){
            return {
                name: 'dima',
            }
        },
        mounted() {
            console.log('Component mounted.')
        }
    }
</script>
