<template>
<div>
    <div class="feedback-container">
        <div id="feedback">
            <h1>Обратная связь</h1>
            <form method="POST"  enctype="multipart/form-data" id="feedback_form">
                <input type="hidden" name="_token" :value="csrf">
                <div class="suggestions-container" v-click-outside="hideName">
                    <input id="name" class="suggestions-focus" name="name" placeholder="ФИО полностью" autocomplete="off"
                            v-on:focusin="isFocused.name=true"
                            v-model="name"
                            :class="['textInput', {error: !checked.name}]"
                            @keypress.enter.prevent="">

                    <div class="suggestions" v-show="isFocused.name">
                        <div    v-show="isFocused.name"
                                v-for="name in names"
                                v-on:click="setName(name.value)"><p>{{ name.value }}</p></div>
                    </div>
                </div>

                <input type="email" name="email" placeholder="e-mail" v-model='email' :class="['textInput', {error: !checked.email}]" @keypress.enter.prevent="">

                <div class="suggestions-container" v-click-outside="hideAddress">
                    <input id='address' class="suggestions-focus" name="address" placeholder="Адрес"
                           v-model='address'
                           v-on:focusin="isFocused.address = true"
                           :class="['textInput', {error: !checked.address}]"
                           @keypress.enter.prevent="" autocomplete="off">

                    <div class="suggestions" v-show="isFocused.address">
                        <div v-for="address in addresses"
                             v-on:click="setAddress(address.value)"><p>{{ address.value }}</p></div>
                    </div>
                </div>

                <input id='phone' name="phone"  placeholder="Телефон" v-model='phone' :class="['textInput', {error: !checked.phone}]" @keypress.enter.prevent="">
                <textarea type="text" name="comment" placeholder="Комментарий" v-model='comment' :class="['textInput', {error:!checked.comment}]" @keypress.enter.prevent="" autocomplete="off"></textarea>
                <input id="file" type="file" name="file" @change='onFileChange' :class="['fileInput', {error:!checked.file}]" >
                <input type="button" value="Отправить" id="feedback_form-submit_button" v-on:click="sendForm" v-show='checked.name  && checked.phone' >

                <div class="info-messages" v-show="messages.length>0">
                    <div v-for="message in messages"><p>{{ message.message }}</p></div>
                </div>
            </form>
        </div>
    </div>
</div>

</template>

<script>
    const suggestionsHeaders = {
        'Content-Type': 'application/json',
        'Accept': 'application/json',
        'Authorization': 'Token 6f881c3344b4cbff7a1739abb95ac252fc4b94f5'
    };

    import '../v-click-outside'

    export default {
        name: "Feedback",
        data: function(){
            return {
                csrf: document.querySelector('meta[name="csrf-token"]').getAttribute('content'),
                urlPost: '/api/feedback',
                name: '',
                email:'',
                address:'',
                phone:'',
                comment: '',
                file: undefined,
                names: [],
                addresses:[],
                checked: {
                    name: false,
                    email: false,
                    address: false,
                    phone: false,
                    comment: false,
                    file: false,
                },
                isFocused:{
                    name:false,
                    address:false,
                },
                messages:[]
            }
        },
        created: function(){
           // this.getNameSuggestions("Пар");
        },
        watch: {
            name: function(val){
                if (val.length>0) this.getNameSuggestions(val);
                else this.names = [];
                this.checkName()
            },
            email: function(val){
                this.checkEmail(val)
            },
            address: function(val){
                this.checkAddress(val);
            },
            phone: function(){
                this.phone=this.phone.replace(/[^\d]/g,'').substr(0,11);
                this.checked.phone = (this.phone.length === 11);
            },
            comment: function(){
                this.checked.comment = this.comment.length > 0;
            },
        },
        methods: {
            checkName(){
                var reName = /^[А-ЯЁ][а-яё]+ [А-ЯЁ][а-яё]+ [А-ЯЁ][а-яё]+$/;
                if (this.name.length>0 && this.name.search(reName) !== -1) this.checked.name = true;
                else this.checked.name = false;
            },
            checkEmail(val){
                var reEmail = /^([а-яА-Яa-zA-Z0-9_.+-]+@[а-яА-Яa-zA-Z0-9-]+\.[а-яА-Яa-zA-Z0-9-.]+)$/mu;
                if (this.email.length>0 && this.email.search(reEmail) !== -1) this.checked.email = true;
                else this.checked.email = false;
            },
            checkAddress(val){
                if (this.address.length>2) {
                    this.checked.address = true;
                }
                if (this.address.length === 0) {
                    this.names = [];
                    this.checked.address = false;
                } else this.getAddressSuggestions(val);
            },
            onFileChange(e) {
                var files = e.target.files || e.dataTransfer.files;
                if (!files.length) {
                    this.checked.file = false;
                    this.file='d';
                }
                this.file = files[0];
                this.checked.file = true;
            },
            resetForm(){
                this.name = '';
                this.email = '';
                this.phone = '';
                this.comment = '';
                this.address = '';
                this.file = undefined;
                this.checked.name = false;
                this.checked.email = false;
                this.checked.phone = false;
                this.checked.comment = false;
                this.checked.file = false
            },
            async sendForm(){
                this.messages = [];
                let formData = new FormData();
                formData.append('file', this.file);
                formData.append('name', this.name);
                formData.append('email', this.email);
                formData.append('address', this.address);
                formData.append('phone', this.phone);
                formData.append('comment', this.comment);

                axios.post(this.urlPost, formData, {
                    headers: { 'Content-Type': 'multipart/form-data' }})
                    .then(res => {
                        var self = this;
                        res.data.errors.forEach(function (e) {
                            self.messages.push({type:'error', message:e});
                        });
                        res.data.success.forEach(function (s) {
                            self.messages.push({type:'success', message:s});
                        });
                        if (res.data.errors.length===0) self.resetForm();
                    })
                    .catch(error => {
                        this.messages.push({type:'error', message:error.response.data.message});
                    });
            },
            getNameSuggestions(name){
                axios.post('https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/fio', {
                    query: name,
                    count: 5
                },{headers:suggestionsHeaders})
                    .then(response => {
                        this.names = response.data.suggestions;
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },
            getAddressSuggestions(address){
                axios.post('https://suggestions.dadata.ru/suggestions/api/4_1/rs/suggest/address', {
                    query: address,
                    count: 5
                }, { headers:suggestionsHeaders })
                    .then(response => {
                        this.addresses = response.data.suggestions;
                    })
                    .catch(err => {
                        console.error(err);
                    })
            },
            hideName(){
                this.isFocused.name = false
            },
            hideAddress(){
                this.isFocused.address = false
            },
            setName(name){
                /* TODO: ошибка из за длинны */
                var name_input = document.getElementById('name');
                if (name.split(' ').length===3) this.name = name;
                else this.name = name + ' ';
                name_input.focus();
                name_input.selectionStart = name_input.value.length;
                this.checkName();
            },
            setAddress(address){
                var address_input = document.getElementById('address');

                this.address = address + ' ';
                address_input.focus();
                address_input.selectionStart = address_input.value.length;

                this.checkAddress();
            }
        },
    };
</script>

<style>
    h1{
        margin: 0 0 20px 0;
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }
    p{
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    }

    .feedback-container{
        display: flex;
        align-items: center;
        justify-content: center;
        min-height: 100vh;
        margin: 0;
    }

    form{
        width: 300px;
        margin-bottom: -10px;
    }
    form *{
        border-radius: 5px;
    }

    form input,textarea{
        margin-bottom: 10px;
        width: 100%;
        display: block;
        outline: none;
    }
    .textInput{
        font-size: 14px;
        border: 2px solid #f8e9a1;
        padding: 10px;
        width: calc(100% - 24px);
    }
    .fileInput{
        padding: 5px;
        border: 2px solid rgba(255, 255, 255, 0);
        width: calc(100% - 24px);
    }
    .fileInput:hover{
        cursor: pointer;
    }
    .fileInput.error{
        padding: 5px;
        width: calc(100% - 14px);
    }
    form textarea{
        resize: vertical;
        min-height: 85px;
    }

    form input.error{
        border: 2px solid #f76c6c;
        background: #f76c6c13;
    }
    form textarea.error{
        border: 2px solid #f76c6c;
        background: #f76c6c13;
    }

    #feedback_form-submit_button{
        background: #f8eaa154;
        border: 2px solid #f8e9a1;
        padding: 10px;
        font-weight: 600;
    }
    #feedback_form-submit_button:hover{
        cursor: pointer;
        background: #f8e9a1;
    }

    .suggestions{
        min-height: 3px;
        position: absolute;
        width: 296px;
        margin: -12px 0;
        border-radius: 0 0 5px 5px;
        background: white;
        border: 2px solid #f7ab45;
    }
    .suggestions div{
        margin: 0;
        border-radius:0;
        cursor: pointer;
    }
    .suggestions div:hover{
        background: rgba(247, 171, 69, 0.2);
    }
    .suggestions div p{
        margin: 0;
        font-size: 14px;
        padding: 10px;
        color: #292929;
    }
    .suggestions-focus:focus{
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
</style>
